{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "no-undefined": "warn"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ]
}