.block-services {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-bottom: 90px;

  &__card {
    display: flex;
    padding: 50px 30px;
    width: 28%;

    &__img {
      display: block;
      width: 30%;
    }

    &__content__title {
      color: #333;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  &__devider {
    width: 100%;
    height: 1px;
    background: #e5e5e5;
  }
}

@media screen and (max-width: 1145px) {
  .block-services {
    justify-content: space-around;

    &__devider {
      display: none;
    }

    &__card {
      width: 40%;
      padding: 30px 15px;

      &__img {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .block-services__card {
    width: 80%;
    padding: 15px;

    &__img {
      width: auto;
      margin-right: 15px;
    }
  }
}
