.block-services
  .block-services__card
    .block-services__card__img
      img(src="../src/pug/pages/block-services/assets/clock.png", alt="icon")
    .block-services__card__content
      h3.block-services__card__content__title Photography 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aspernatur qui sint.
  .block-services__card
    .block-services__card__img
      img(src="../src/pug/pages/block-services/assets/graph.png", alt="icon")
    .block-services__card__content
      h3.block-services__card__content__title Web design 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aspernatur qui sint.
  .block-services__card
    .block-services__card__img
      img(src="../src/pug/pages/block-services/assets/computer.png", alt="icon")
    .block-services__card__content
      h3.block-services__card__content__title Creativity 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aspernatur qui sint.
  .block-services__devider
  .block-services__card
    .block-services__card__img
      img(src="../src/pug/pages/block-services/assets/seo.png", alt="icon")
    .block-services__card__content
      h3.block-services__card__content__title Seo 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aspernatur qui sint.
  .block-services__card
    .block-services__card__img
      img(src="../src/pug/pages/block-services/assets/home.png", alt="icon")
    .block-services__card__content
      h3.block-services__card__content__title css/html 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aspernatur qui sint.
  .block-services__card
    .block-services__card__img
      img(src="../src/pug/pages/block-services/assets/digital.png", alt="icon")
    .block-services__card__content
      h3.block-services__card__content__title Digital 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aspernatur qui sint.
    