.block-services
  .services-card 
    .services-card__img
      img(src="../src/pug/pages/block-services/assets/clock.png", alt="icon")
    .services-card__content 
      h3.services-card__content__title Photography 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aspernatur qui sint.
  .services-card 
    .services-card__img
      img(src="../src/pug/pages/block-services/assets/graph.png", alt="icon")
    .services-card__content 
      h3.services-card__content__title Web design 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aspernatur qui sint.
  .services-card 
    .services-card__img
      img(src="../src/pug/pages/block-services/assets/computer.png", alt="icon")
    .services-card__content 
      h3.services-card__content__title Creativity 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aspernatur qui sint.
  .block-service__devider
  .services-card 
    .services-card__img
      img(src="../src/pug/pages/block-services/assets/seo.png", alt="icon")
    .services-card__content 
      h3.services-card__content__title Seo 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aspernatur qui sint.
  .services-card 
    .services-card__img
      img(src="../src/pug/pages/block-services/assets/home.png", alt="icon")
    .services-card__content 
      h3.services-card__content__title css/html 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aspernatur qui sint.
  .services-card 
    .services-card__img
      img(src="../src/pug/pages/block-services/assets/digital.png", alt="icon")
    .services-card__content 
      h3.services-card__content__title Digital 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aspernatur qui sint.
    