.header {
  background: url(../pug/header/assets/bg.png) repeat-x;
  color: $white;
} 

.index-page .header {
  background-size: contain;
}

.header-inner {
  padding: 20px 0;
}

.index-page .header-inner {
  background-image: url(../pug/header/assets/inner-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.welcome-block {
  text-align: center;
}

.welcome-block__title-m {
  padding-top: 50px;
  font-size: 72px;
}

.welcome-block__title-l {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 150px;
  line-height: 1;
}

@media screen and (max-width: 1300px) {
  .index-page .header-inner {
    background-size: cover;
  }
}

@media screen and (max-width: 1000px) {
  .welcome-block__title-m {
    font-size: 64px;
  }
  .welcome-block__title-l {
    font-size: 108px;
  }
}

@media screen and (max-width: 760px) {
  .welcome-block__title-m {
    font-size: 48px;
  }
  .welcome-block__title-l {
    font-size: 72px;
  }
}

@media screen and (max-width: 560px) {
  .welcome-block__title-m {
    font-size: 36px;
  }
  .welcome-block__title-l {
    font-size: 48px;
  }
}