.header {
  background: url(../pug/header/assets/bg.png) repeat-x;
  background-size: contain;
  color: #fff;
} 

.header-inner {
  padding: 20px 0;
}

.index-page .header-inner {
  background-image: url(../pug/header/assets/inner-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.welcome-block {
  text-align: center;
  padding-top: 50px;
}

.welcome-block__title-m {
  font-weight: normal;
  font-size: 72px;
}

.welcome-block__title-l {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 150px;
  line-height: 1;
}