@import "~normalize.css";
@import "fonts.scss"; 
@import "../pug/header/header.scss";
@import "../pug/header/menu/menu.scss";
@import "../pug/pages/block-header/block-header.scss";
@import "../pug/pages/about-block/about-block.scss";


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #999999;
  background: #fff;
}

a {
  color: #333;
  text-decoration: none;
}

.k-font {
  font-family: 'Kaushan Script', cursive;
  font-weight: normal;
}

.m-font {
  font-family: 'Montserrat', sans-serif;
}

.container {  
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin: auto;
}