extends ../layout/main

block variables 
  - var title = 'Webpack home task'
  - var description = 'Description of home task'
  - var pageClass = 'index-page'
  - var index = true

block content 
  section 
    .container
      h3.container-title-s What we do 
      h2.container-title-l Story about us 
      .devider