extends ../layout/main

block variables 
  - var pageClass = 'index-page'

block content 
  section 
    .container
      .block-header
        h3.block-header__title-s.k-font What we do 
        h2.block-header__title-l.m-font Story about us 
        .devider
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quasi, esse adipisci voluptas et nulla animi saepe, quis voluptates, dolor fuga quas illo nisi tempore excepturi iusto dignissimos eius dolore!
      include ./about-block/about-block
  section 
    include ./statistic-block/statistic-block
  section 
    .container
      .block-header
        h3.block-header__title-s.k-font We work with
        h2.block-header__title-l.m-font Amazing services
        .devider 
      include ./block-services/block-services
