extends ../layout/main

block variables 
  - var title = 'Webpack home task'
  - var description = 'Description of home task'
  - var pageClass = 'index-page'
  - var index = true

block content 
  section 
    .container
      .block-header
        h3.block-header__title-s.k-font What we do 
        h2.block-header__title-l.m-font Story about us 
        .devider
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quasi, esse adipisci voluptas et nulla animi saepe, quis voluptates, dolor fuga quas illo nisi tempore excepturi iusto dignissimos eius dolore!
      .about-block 
        .about-card 
          img(src="../src/pug/pages/about-block/assets/1.jpg", alt="computer").about-card__img
          .about-card-hover
            span.m-font super team            
        .about-card 
          img(src="../src/pug/pages/about-block/assets/2.jpg", alt="desktop").about-card__img
          .about-card-hover
            span.m-font creative atmosphere
        .about-card 
          img(src="../src/pug/pages/about-block/assets/3.jpg", alt="desktop").about-card__img
          .about-card-hover
            span.m-font comfortable office