extends ../layout/main

block variables 
  - var title = 'Webpack home task'
  - var description = 'Description of home task'
  - var pageClass = 'index-page'

block content
  section 
    .container
      h1 Home page
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque provident eos voluptate quaerat excepturi corporis animi! Assumenda hic consequuntur, provident dolor repellat officiis, suscipit veritatis dolorem vel, ratione sequi ut.