extends ../layout/main

block variables 
  - var pageClass = 'team-page'

block content 
  section 
    .container
      .block-header
        h3.block-header__title-s.k-font Who we are 
        h2.block-header__title-l.m-font Meet our team
        .devider
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quasi, esse adipisci voluptas et nulla animi saepe, quis voluptates, dolor fuga quas illo nisi tempore excepturi iusto dignissimos eius dolore!
      include ./team-block/team-block