nav.nav 
  a.logo(href="") MoGo 
  ul.menu 
    li.menu__item
      a(href="index.html").menu__item__link#home_page home
    li.menu__item
      a(href="team.html").menu__item__link#team_page our team