.logo {
  color: #fff;
  font-size: 30px;
  font-family: 'Montserrat-bold';
} 

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
}

.menu-item {
  font-family: 'Montserrat';
  padding: 0 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}