.statistic-block 
  .container 
    ul.statistic-block__list
      li.statistic-block__list-item 
        span.statistic-block__number 42
        span.statistic-block__description web design projects
      li.statistic-block__list-item 
        span.statistic-block__number 123 
        span.statistic-block__description happy client
      li.statistic-block__list-item 
        span.statistic-block__number 15
        span.statistic-block__description award winned
      li.statistic-block__list-item 
        span.statistic-block__number 99
        span.statistic-block__description cup of coffee
      li.statistic-block__list-item 
        span.statistic-block__number 24
        span.statistic-block__description members