.statistic-block {  
  margin-top: 50px;
  background: $light-green;
  color: $white;
  text-align: center;
}

.statistic-block__list {
  height: 250px;
  display: flex;
  border-right: $white-border;
}

.statistic-block__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  border-left: $white-border;
  padding: 15px;
}

.statistic-block__number {
  font-family: 'Montserrat-bold';
  font-size: 72px;
  line-height: 1.2;
}

.statistic-block__description {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (max-width: 760px) {
  .statistic-block__number {
    font-size: 48px;
  }
}
@media screen and (max-width: 560px) {
  .statistic-block__list {
    flex-wrap: wrap;
    height: auto;
  }

  .statistic-block__list-item {
    width: 100%;
    border-bottom: dotted 1px $white;
  }
}