.statistic-block 
  .container 
    ul.statistic-block__list
      li.statistic-block__list__list-item
        span.statistic-block__list__list-item__number 42
        span.statistic-block__list__list-item__description web design projects
      li.statistic-block__list__list-item
        span.statistic-block__list__list-item__number 123 
        span.statistic-block__list__list-item__description happy client
      li.statistic-block__list__list-item
        span.statistic-block__list__list-item__number 15
        span.statistic-block__list__list-item__description award winned
      li.statistic-block__list__list-item
        span.statistic-block__list__list-item__number 99
        span.statistic-block__list__list-item__description cup of coffee
      li.statistic-block__list__list-item
        span.statistic-block__list__list-item__number 24
        span.statistic-block__list__list-item__description members