.team-block 
  .team-block__card 
    img(src="../src/pug/pages/team-block/assets/1.jpg", alt="men").team-block__card__img
    p.team-block__user-name Matthew Dix
    p.team-block__user-title Graphic Design
  .team-block__card 
    img(src="../src/pug/pages/team-block/assets/2.jpg", alt="men").team-block__card__img
    p.team-block__user-name Christopher Campbell
    p.team-block__user-title Branding/UX design
  .team-block__card 
    img(src="../src/pug/pages/team-block/assets/3.jpg", alt="men").team-block__card__img
    p.team-block__user-name Michael Fertig
    p.team-block__user-title Developer      