.team-block 
  .team-card 
    img(src="../src/pug/pages/team-block/assets/1.jpg", alt="men").team-card__img
    p.user-name Matthew Dix
    p.user-title Graphic Design
  .team-card 
    img(src="../src/pug/pages/team-block/assets/2.jpg", alt="men").team-card__img
    p.user-name Christopher Campbell
    p.user-title Branding/UX design
  .team-card 
    img(src="../src/pug/pages/team-block/assets/3.jpg", alt="men").team-card__img
    p.user-name Michael Fertig
    p.user-title Developer      