.about-block 
  .about-block__card 
    img(src="../src/pug/pages/about-block/assets/1.jpg", alt="computer").about-block__card__img
    .about-block__card__hover
      span.m-font super team            
  .about-block__card 
    img(src="../src/pug/pages/about-block/assets/2.jpg", alt="desktop").about-block__card__img
    .about-block__card__hover
      span.m-font creative atmosphere
  .about-block__card
    img(src="../src/pug/pages/about-block/assets/3.jpg", alt="desktop").about-block__card__img
    .about-block__card__hover
      span.m-font comfortable office