.about-block 
  .about-card 
    img(src="../src/pug/pages/about-block/assets/1.jpg", alt="computer").about-card__img
    .about-card-hover
      span.m-font super team            
  .about-card 
    img(src="../src/pug/pages/about-block/assets/2.jpg", alt="desktop").about-card__img
    .about-card-hover
      span.m-font creative atmosphere
  .about-card 
    img(src="../src/pug/pages/about-block/assets/3.jpg", alt="desktop").about-card__img
    .about-card-hover
      span.m-font comfortable office