extends ../../layout/main

block variables 
  - var pageClass = 'grid-page'

block content 
  section
    .grid
      .grid__block1
      .grid__block2
      .grid__block3
      .grid__block4
      .grid__block5
      .grid__block6
      .grid__block7 
      .grid__block8 
      .grid__block9 
      .grid__block10
      .grid__block11 
      .grid__block12 
        button(type="button").button view more
      .grid__block13 
        h2.block-header__title-l.m-font Very big title
      .grid__block14 
      .grid__block15 
      .grid__block16 
      .grid__block17