extends ../../layout/main

block variables 
  - var pageClass = 'flexbox-page'

block content 
  .flexbox
    section 
      .flexbox__block1
      .flexbox__block2
    section 
      .flexbox__block3
      .flexbox__block4
      .flexbox__block5
    section 
      .flexbox__block6
    section 
      .flexbox__block7 
      .flexbox__block8 
      .flexbox__block9 
    section 
      .flexbox__block10
      .flexbox__block11 
    section 
      .flexbox__block12 
        button(type="button").button view more
    section
      .flexbox__block13 
        h2.block-header__title-l.m-font Very big title
    section   
      .flexbox__block14 
      .flexbox__block15 
      .flexbox__block16 
      .flexbox__block17